.item {
  display: flex;
  background-color: steelblue;
  margin-bottom: 1px;
  span {
    width: 0;
    margin-right: 10px;
    background-color: rgb(44, 168, 44);
    transition: width ease-in 200ms;
  }
}

.item:hover {
  span {
    display: block;
    transform: scaleX(1);
    width: 12.5%;
  }
}
